<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @discipline.course_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @discipline.teacher_id %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
